<form action="/create_new_page" method="post">
    <label for="filename">Enter your document name here</label>
    
    <div>
        <input name="filename" id="filename" rows="2" cols="30" />
        <button type="submit">Create File</button>
    </div>
</form>